/* felles stil for alle alerts */
.alert-box {
    padding: 40px;
    border-radius: 20px;
    font-size: 14px;
    margin: 30px auto;
    text-align: center; /* sentrerer all tekst */
    max-width: 600px;
  }
  
  /* overskrift i alerten */
  .alert-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* meldingstekst */
  .alert-message {
    margin: 0;
    font-size: 14px;
  }
  
  /* ulike typer alerts */
  .success {
    background-color: #DDF5D2;
    border: 2px solid #60AA3B;
  
  }
  
  .error {
    background-color: #F9E1E4;
    border: 2px solid #B8DAFF;
    color: #BB0218;
  }
  
  .confirmation {
    background-color: #ffffff;
    border: 2px solid #707070;
   
  }

  /* knappevisning i alertboksene */
  .alert-buttons {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 80px;
  }
  