/* alle knapper*/ 
.button {
    border: none;
    border-radius: 999px;
    padding: 10px 40px;
    width: 160px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    align-self: center;
    transition: background-color 0.2s ease, border-color 0.2s ease;
  }
  
  /* BackButton - tilbakeknapp */
  .back-button {
    background: none;
    border: none;
    font-size: 14px;
    font-weight:lighter;
    letter-spacing:0pc;
    cursor: pointer;
    text-align: left;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: color 0.2s ease;
  }

  .back-button:hover {
    color: #00000087;
  }
  .back-arrow {
    font-size: 20px; 
    line-height: 1;
  }
  
  /* grønne knapper - lagre, login, legg til */
  .button-green {
    background-color: #60AA3B;
    border: 2px solid #60AA3B;
    color: black;
  }
  
  .button-green:hover {
    background-color: #48802C;
    border: 2px solid #48802C;
  }
  
  /* knapper med rød border - avbryt, slett */
  .button-red {
    background-color: white;
    color: black;
    border: 2px solid #BB0218;
  }
  
  .button-red:hover {
    border-color: #60AA3B;
  }
  
  /* hvite knapper med grønn border - Legg til, Fortsett, Last inn flere */
  .button-white {
    background-color: white;
    color: black;
    border: 2px solid #60AA3B;
  }
  
  .button-white:hover {
    background-color: #DDF5D2; 
    border-color: #60AA3B;     
  }
  
  
  