/* global.css - gjelder alle sider i EmployeeMore */

/* fontsize & type i hele prosjektet */
body {
  margin: 0;
  padding: 0;
  font-family: "Circular Pro Book", sans-serif;
  color: #666666;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3,
p {
  font-family: "Circular Pro Book", sans-serif;
  font-size: 14px;
}
/* felles heading for alle sider, eks: EditEmployee, EmployeeDetails, register, edit... */

/* Wrapper som gjør at header alltid følger layouten uansett side */
.page-header-wrapper {
  margin-left: 200px; /* plass til nav */
  padding: 10px 120px 0 120px;
}

.page-header{
  margin-inline-start: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}




/*Lager en styling for profilkort listevisning med flex som skal gjelde alle sidene med profilkort lister*/
.profilePages-container {
  display: flex;
}
.profileList-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 383px;
}

/* Styling for posisjon for filtrering systemet på alle sidene*/
.filter-section{
  flex-wrap: wrap;
  margin-left: 290px;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* inputfelt hele siden */
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}
