/* global.css - gjelder alle sider i EmployeeMore */

/* fontsize & type i hele prosjektet */
body {
  margin: 0;
  padding: 0;
  font-family: "Circular Pro Book", sans-serif;
  color: #666666;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3,
p {
  font-size: 14px;
}

/* HEADER */ 

/* felles heading for alle sider, eks: EditEmployee, EmployeeDetails, register, edit... */

/* Wrapper som gjør at header alltid følger layouten uansett side */
/*pageheader.jsx*/ 
.page-header-wrapper {
  margin-left: 200px; /* plass til nav */
  padding: 10px 120px 0 120px;
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding-top: 24px;
}
.page-header-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.page-header-search {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* datecount.jsx */ 
.date-count {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 340px; /* samme som .dashboard-header */
  margin-bottom: 20px;
}

.date-text,
.count-text {
  font-size: 18px;
  font-weight: 600;
  color: #666;
}



/* Styling for posisjon for filtrering systemet på alle sidene*/
.filter-section {
  flex-wrap: wrap;
  margin-left: 290px;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* inputfelt hele siden */
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

/* popup-bakgrunn (halvtransparent) for alle popups og alertbokser */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(102, 102, 102, 0.5); /* halvtransparent grå */
  z-index: 2000; /* høyere enn nav */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Lager en styling for profilkort listevisning med flex som skal gjelde alle sidene med profilkort lister*/
.profilePages-container {
  display: flex;
}
.profileList-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center; /* midtstiller kortene */
  margin-left: 240px; 
  margin-top: -50px;
  padding: 20px 40px;
}

  /* date count */
  .date-count {
    display: flex;
    justify-content: flex-start; /* venstrejustert */
    align-items: center;
    gap: 30px; /* luft mellom dato og antall */
    margin: -50px 0 60px 3px; /* top right bottom left */
  }
  
  .date-text,
  .count-text {
    font-size: 14px;
    font-weight: 400;
    color: #666;
  }
  

