/* global.css - gjelder alle sider i EmployeeMore */

/* fontsize & type i hele prosjektet */
body {
  margin: 0;
  padding: 0;
  font-family: "Circular Pro Book", sans-serif;
}

h1,
h2 {
  font-family: "Circular Pro Bold", sans-serif;
  font-size: 24px;
}

h3,
p {
  font-family: "Circular Pro Book", sans-serif;
  font-size: 14px;
}
/* felles heading for alle sider, eks: EditEmployee, EmployeeDetails, register, edit... */
.section-heading {
  color: #555;
  margin-bottom: 25px;
  font-size: 18px;
}




/*Lager en styling for profilkort listevisning med flex som skal gjelde alle sidene med profilkort lister*/
.profilePages-container {
  display: flex;
}
.profileList-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 383px;
}
/*Hovedtekst på sidene som forteller hvor man er på siden*/
.pageContent-text{
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 400px;
}
/* Styling for posisjon for filtrering systemet på alle sidene*/
.filter-section{
  flex-wrap: wrap;
  margin-left: 290px;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* inputfelt hele siden */
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}
