.login-page {
  background-image: url('../assets/images/login-background.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
 
  /* logo oppe til venstre */
  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    height: auto;
    max-width: 100%;
    width: 200px;
    object-fit: contain;
  }
  
  /* midtstille login-innhold */
  .login-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  


  .login-headline {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  
  .login-box {
    background-color: white;
    border: 3px solid #DDF5D2; 
    border-radius: 70px;
    padding: 50px 40px 40px 40px;
    width: 700px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    text-align: left;
  }

  .login-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: normal; 
  }
  
  .login-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
  }
  
  /* Glemt passord-lenke */
  .forgot-password {
    text-align: right;
    margin-bottom: 15px;
  }
  
  .forgot-password a {
    font-size: 13px;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* Knapper */
  .login-button {
    display: flex;
    justify-content: center;
  }
  
  .login-submit {
    background-color: #60AA3B;
    color: black;
    border: none;
    border-radius: 999px;
    padding: 10px 40px;
    width: 160px; 
    cursor: pointer;
    align-self: center;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }
  
  .login-submit:hover {
    background-color: #48802C;
  }
  

  