/* SIDEBAR OG LOGO */

.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 30px; 
  width: 100%;
  overflow-y: auto; /* hvis et nytt team legges til el nav blir lenger senere, og det ikke er plass blir navigasjonen scrollbar.  */

}

.logo-container {
  margin-top: 20px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  text-align: left;
}

.logo {
  max-width: 100%;
  height: auto;
  width: 200px;
  object-fit: contain;
  margin-top: -35px;

  
}

/* NAVIGASJON */
.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 6px 8px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/* mainlink: grønn strek under ved hover */
.main-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.main-link:hover {
  text-decoration: underline;
  text-decoration-color: #48802c;
  text-underline-offset: 4px;
  text-decoration-thickness: 3px;
}

.sub-link {
  font-size: 15px;
  font-weight: normal;
  display: inline;
}

/* sublink: grønn boks ved hover */
.sub-link:hover {
  background-color: #ddf5d2;

}

/* for å gruppere underlenkene pent */
.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logout-section {
  margin-top: auto;
  padding-top: 20px;
}