
/* Profilkort kontainer */
.profile-card{
    position: relative;
    border-radius: 14px;
    height: 383px;
    width: 290px;
    text-align: center;
} 
.pink-bg {
    background-color: #F29FC8;
  }
  
  .blue-bg {
    background-color: #8FD1EF; 
  }
  .pink-border {
    border: 3px solid #F29FC8;
  }
  
  .blue-border {
    border: 3px solid #8FD1EF;
  }
  
  
/*Profilkort hover øker med 5% */
.profile-card:hover{
   transform: scale(1.05);
}

/*Profilkort bakgrunn med farge*/
.profile-card .background-color{
    border-radius: 11px;
    text-align: center;
    padding: 0;
    margin-top: -3px;
    height: 109px;
    width: 290px;
    
}

/*Profilkort bakgrunn med farge TEKST innhold container*/
.label-main{
    padding: 7px;
    
}

/*span klasser med font weight bold*/
.label-info{
    font-family: "Circular Pro Bold", sans-serif ;
    font-weight: bold;
}

/*Profilkort kontainer*/
.profile-img-container{
    margin: 10px auto;
}

/*Profilkort bilde size*/
.profile-img {
    width: 160px ;
    height: 160px ;
}
